<section class="creat-task-section">
  <%= render 'form' %>
</section>

<section class="tasks-container">
  <h2>Tasks</h2>

  <%= form_tag tasks_path, method: :get, remote: true do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'search' %>
  <% end %>


  <div id="task">
    <%= render partial: 'task', collection: @tasks %>
  </div>
  <div id="pages">
    <%= will_paginate @tasks %>
  </div>
</section>


