<section class="creat-task-section">
  <h1>New Task</h1>

  <%= form_for @task, remote: true do |f| %>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
      </div>
      <%= f.text_field :title, value: @task.title, class: 'form-control', 'aria-label' => 'Small', 'aria-describedby' => 'inputGroup-sizing-sm'%>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <%= f.text_area :description, value: @task.description, id: 'exampleFormControlTextarea1', class: 'form-control', rows: 3 %>
    </div>
    <%= f.date_field :expire_at, value: @task.expire_at %>
    <%= f.button :OK %>
  <% end %>

  <% if notice %>
    <div class="error-container alert alert-danger" role="alert">
      <% notice.each do |error_message| %>
        <p><%= "Field #{error_message.first} #{error_message[1].first}" %></p>
      <% end %>
    </div>
  <% end %>
</section>

<section class="tasks-container">
  <h2>Tasks</h2>

  <%= form_tag tasks_path, method: :get do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'search' %>
  <% end %>

  <ul class="tasks-list">
    <% @tasks.each do |task| %>
      <li class="task-item alert <%= task.status.to_i.zero? ? 'alert-secondary' : 'alert-success'%>" role="alert">
        <p class="task-title" title="<%= task.description %>"><%= task.title %></p>
        <div class="buttons-container">
          <%= button_tag 'X', 'data-url' => task_path(task), 'data-remote' => true, 'data-method' => :delete, class: "btn #{task.status.to_i.zero? ? 'btn-dark' : 'btn-success'}"%>
          <%= form_for task, remote: true do |f| %>
            <%= f.check_box :status, checked: !task.status.to_i.zero?, data: {url: task_path(task), remote: true, method: :patch} %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>


