<h1>New Task</h1>
<%= form_for @task, remote: true do |f| %>
  <%= f.text_field :title %>
  <%= f.button :OK %>
<% end %>

<h2>Tasks</h2>
<%= form_tag tasks_path, method: :get do |f| %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :Search %>
<% end %>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= form_for task, remote: true do |f| %>
      <div id="<%= "task_#{task.id}" %>">
        <%= f.text_field :title,  placeholder: task.title  %>
          <%= link_to 'X', task, method: :delete, :remote => true, :class => 'delete_task' %>
          <%= f.check_box :is_done  %>
          </br>
        </div>
      <div class="form-group">
      <%= f.submit %>
      </div>
    <% end %>
  <% end %>
</div>


