<%= content_for :task_search do%>
  
    <div class="right">
      <input id="search_field"></input>
      <button id="search_btn"class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
 <% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div  id="create">
        <h2>New Task</h2>
        <%= form_for @task, remote: true do |f| %>
          <% @task.errors.full_messages.inspect %>
          <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <%= f.text_field :title, id:"inputTitle", required: true%>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <%= f.text_area :description, id:"inputDescription", minlength:5%>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
              <%= f.date_field :expire_at, id: "inputDate", min: Date.today.strftime("%F "), required: true%>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.button "Create task", class:"btn btn-primary" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div> 
  
    <div class="col-sm-6">
      <div id="task">
        <h2>Tasks</h2>
        <% @tasks.each do |task| %>
        <div id="<%= "task_#{task.id}" %>" class="all_tasks">
          <%= form_for task, remote: true do |f| %>     
              <div class="form-row">
                  <div class="form-group col-md-4"> 
                     <%= f.text_field :title, class:"task_text form-control",  placeholder: task.title , required: true %>
                  </div>
                  
                  <div class="form-group col-md-4"> 
                    <%= f.date_field :expire_at, id:"date", min: Date.today.strftime("%F "), required: true%>
                  </div>
                  <div class="form-group col-md-1"> 
                    <%= link_to '&cross;'.html_safe, task, id:"delete", method: :delete, :remote => true %>
                  </div> 
                  <div class="form-group col-md-1"> 
                    <%= f.check_box :is_done  %>
                  </div>
                 <div class="form-group col-md-2">
                    <%= f.submit "Save", class: "btn btn-outline-primary btn-sm" %>
                  </div>
                <div class="form-group col-md-12 h0"> 
                  <%= f.text_area :description, minlength:5%> 
                </div>       
               
              </div>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>  
</div>

