<h1>New Task</h1>
<%= form_for @task, remote: true do |f| %>
  <%= f.text_field :title %>
  <%= f.button :OK %>
<% end %>

<h2>Tasks</h2>
<div>
  <input id="search_field"></input>
  <button id="search_btn">Search</button>
</div>

<div id="tasks">
  <% @tasks.each do |task| %>
  <div id="<%= "task_#{task.id}" %>" class="all_tasks">
    <%= form_for task, remote: true do |f| %>
      
        <%= f.text_field :title, class:"task_text",  placeholder: task.title  %>
          <%= link_to 'X', task, method: :delete, :remote => true %>
          <%= f.check_box :is_done  %>
          </br>
       
      <div class="form-group">
      <%= f.submit %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


