<!DOCTYPE html>
<html>
  <head>
    <title>Lesson4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <nav class="navbar navbar-dark bg-dark">
      <% if user_signed_in? %>  
        <div class="left"> 
         <%= current_user.email %>
         |   
         </div>
        <div class="left"> 
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
        </div>            
      <% else %>
       <div class="left"> 
         <%= link_to('Login', new_user_session_path)  %>  
        </div>
      <% end %>
      <%= yield :task_search %>
   </nav>


    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <footer class="container-fluid bg-4 text-center">
      <p>&copy; Liubov Tarasenko. GeekHub 2018</p> 
    </footer>
  </body>
</html>
